.panel-heading {
    background: linear-gradient(to bottom right, #000000, #888888);
    padding: 0.1px 15px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 8px;
}
.tr-middle td {
    vertical-align: middle;
}

.panel-primary{ 
    border-color: transparent;
}
.panel {
    box-shadow: 0 0 0 0;
}
.table-responsive {
    border: 0px;
}