  <!-- <head>
  <link rel="stylesheet" type="text/css" href="http://mduraj.waw.pl/KACPER/ver_4/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="http://mduraj.waw.pl/KACPER/ver_4/css/base.css">

  </head>  -->


<div class="row">
    <div class="col-sm-6">
      <h2>{{employee.firstName}} {{employee.lastName}}</h2>
     
      <h4>City: {{employee.locality}}</h4>
      <h4>ZIP Code: {{employee.zipCode}}</h4>
      <h4>Street name: {{employee.street}}</h4>
      <h4>Street number: {{employee.streetNumber}}</h4>
       <p>Polsce oraz za granicą. Oryginalny, niepowtarzalny styl oraz technika
        gry. Pierwszy rezydent saksofonista jednego z najlepszych klubów w
        Polsce Pacha Poznan. Setki tysięcy wyświetleń jego twórczości na
        
        portalach społecznościowych czy popularnych blogach muzycznych-
        jeden z remixów znalazł się na pierwszym miejscu Hype Machine-
        najpopularnieszego muzycznego blogu na świecie.</p>
        <div> 
            <pm-progress-circle 
            [salary] = 'employee.salary'>
            </pm-progress-circle>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="http://mduraj.waw.pl/KACPER/ver_4/img/b.jpg" class="picture">
    </div>
  </div>
  